<div class="container1">
    <div class="card">
        <div class="card-body">
            <div class="bd-example bd-example-type text-center text-primary">
                <span class="display-4">Thư viện ảnh</span>
            </div>
            <p class="text-center">Tổng hợp những hình ảnh của thầy và các sinh viên trong các hoạt động
                giảng dạy,học tập, nghiên cứu, báo cáo khoa học. </p>
        </div>
    </div>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    <div class="clearfix">
        <br/>
    </div>
</div>