<nav class="navbar navbar1 fixed-top scrolling-navbar navbar-dark navbar-expand-lg bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/img/brand/logo00.png" height="40" alt="HL Logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                <a class="nav-link" [routerLink]="['/home']">Trang chủ
                    <span class="sr-only">(current)</span></a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link" [routerLink]="['/intro']">Giới thiệu</a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link" [routerLink]="['/study']">Nghiên cứu khoa học</a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link" [routerLink]="['/publication']">Công bố khoa học</a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link" [routerLink]="['/dedicate-student']">Sinh viên tiêu biểu</a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']">Liên hệ</a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link" [routerLink]="['/img-gallery']">Thư viện ảnh</a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <div *ngIf="curUser.id > 0">
                <img src="{{curUser.avatar}}" class="thumb-avatar img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
            </div>
            <li class="nav-item dropdown text-nowrap">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="icon-user" *ngIf="curUser.Id == 0"></i> {{curUser.fullName}}
                </a>
                <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdown">
                    <a *ngIf="curUser.id > 0" class="dropdown-item text-light" (click)="editProfileModal.show()">Thông
                        tin cá nhân</a>
                    <a *ngIf="curUser.id > 0" class="dropdown-item text-light" (click)="openChangePassForm()">Đổi mật
                        khẩu</a>
                    <a *ngIf="curUser.role == 'Administration'" class="dropdown-item text-light"
                        href="/dashboard-admin">Trang dashboard</a>
                    <a *ngIf="curUser.role == 'Teacher-Assistant'" class="dropdown-item text-light"
                        href="/dashboard-teacher">Trang dashboard</a>
                    <a *ngIf="curUser.role == 'Student'" class="dropdown-item text-light" href="/transfer">Vào lớp</a>
                    <a *ngIf="curUser.id == 0" class="dropdown-item text-light" href="/sign-in">
                        <i class="icon-login text-primary"></i> Đăng nhập
                    </a>
                    <a *ngIf="curUser.id > 0" class="dropdown-item text-light" href="javascript:void(0);"
                        (click)="signOut()">
                        <i class="icon-logout text-danger"></i> Đăng xuất
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown" dropdown>
                <a id="link-dropdown" class="nav-link dropdown-toggle" href dropdownToggle (click)="false"
                    aria-controls="your-dropdown">
                    <i class="icon-settings"></i> Ngôn ngữ
                </a>
                <div id="your-dropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="link-dropdown"
                    *dropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0);">
                        <i class="flag-icon flag-icon-vn" title="vn" id="vn"></i> Tiếng Việt
                    </a>
                    <a class="dropdown-item" href="javascript:void(0);">
                        <i class="flag-icon flag-icon-us" title="us" id="us"></i>Tiếng Anh
                    </a>
                    <a class="dropdown-item" href="javascript:void(0);">
                        <i class="flag-icon flag-icon-cn" title="cn" id="cn"></i>Tiếng Trung
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="app-body">
    <!-- Main content -->
    <main class="main">
        <div class="container-12">
            <router-outlet></router-outlet>
        </div><!-- /.container-fluid -->
    </main>
</div>
<!-- Footer -->
<footer class="page-footer bg-secondary">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <img src="assets/img/brand/logo01.png" height="60" alt="HL Logo" />
        <br />
        © 2019 HL Laoshi Application Copyright
        <br />
        <span>Powered by</span>
        <a href="#"> OccApp Team</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

<div bsModal #editProfileModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông tin cá nhân</h4>
                <button type="button" class="close" (click)="editProfileModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #f="ngForm" (ngSubmit)="save(f.form.valid)">
                    <div class="row">
                        <div class="col-lg-5 text-center">
                            <img (click)="uploader.click()" [src]="curUser.avatar" width="200" height="200"
                                class="img-circle">
                            <input hidden type="file" #uploader (change)="uploadAvatar($event)" />
                        </div>
                        <div class="col-lg-5">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label for="userName">Tên đăng nhập</label>
                                <input class="form-control valid" id="userName" maxlength="40" name="userName" readonly
                                    type="text" required="" placeholder="" aria-required="true" aria-invalid="false"
                                    [(ngModel)]="curUser.userName">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label for="fullName">Họ và tên</label>
                                <input class="form-control" id="fullName" maxlength="80" name="fullName" readonly
                                    type="text" placeholder="" aria-required="true" [(ngModel)]="curUser.fullName">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label for="email">Email</label>
                                <input class="form-control" id="email" maxlength="80" name="email" type="text"
                                    placeholder="" aria-required="true" [(ngModel)]="curUser.email">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label for="phone">Số điện thoại</label>
                                <input class="form-control" id="phone" maxlength="80" name="phone" type="text"
                                    placeholder="" aria-required="true" [(ngModel)]="curUser.phone">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label for="address">Địa chỉ</label>
                                <input class="form-control" id="address" maxlength="80" name="address" type="text"
                                    placeholder="" aria-required="true" [(ngModel)]="curUser.address">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group"><br>
                                <button id="btn_connect" type="submit" class="btn btn-primary">Cập nhật</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="editProfileModal.hide()">Đóng</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #editPassModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Đổi mật khẩu</h4>
                <button type="button" class="close" (click)="editPassModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #f="ngForm" (ngSubmit)="changePass(f.form.valid)">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label for="oldPassword">Mật khẩu cũ</label>
                                <input class="form-control valid" id="oldPassword" maxlength="40" name="oldPassword"
                                    type="password" required="" placeholder="" aria-required="true" aria-invalid="false"
                                    [(ngModel)]="curUser.oldPassword">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label for="newPassword">Mật khẩu mới</label>
                                <input class="form-control" id="newPassword" maxlength="80" name="newPassword"
                                    type="password" placeholder="" aria-required="true" [(ngModel)]="curUser.newPassword">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label for="confirmPassword">Xác nhận</label>
                                <input class="form-control" id="confirmPassword" maxlength="80" name="confirmPassword"
                                    type="password" placeholder="" aria-required="true"
                                    [(ngModel)]="curUser.confirmPassword">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group"><br>
                                <button id="btn_connect" type="submit" class="btn btn-primary">Cập nhật</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="editPassModal.hide()">Đóng</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->