<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container" style="margin-top: 100px;">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <form #f="ngForm" (ngSubmit)="f.form.valid && send()">
                                    <h2><a class="back-btn" routerLink="/sign-in" title="Trở về trang đăng nhập"><i
                                                class="icon-arrow-left"></i></a> Quên mật khẩu</h2>
                                    <p class="text-muted">Gửi yêu cầu qua email để thiết lập lại mật khẩu.</p>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">@</span>
                                        </div>
                                        <input type="text" #userName="ngModel" [(ngModel)]="vm.email"
                                            class="form-control" placeholder="Email" autocomplete="email" required
                                            [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12" #captchaRef2></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary px-4">Gửi</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card text-white bgsignin py-5 d-md-down-none" style="width:44%">
                            <div class="card-body text-center">
                                <div class="">
                                    <img src="assets/img/brand/logo01a.png" height="55" />
                                    <h2>HaoLee - LaoShi </h2>
                                    <p>Xin chào các bạn học viên, Chào mừng tới trang thông tin hỗ trợ học tập! hãy sữ
                                        dụng tài khoản đăng nhập được cung cấp để đăng nhập!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>