<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-md-7">
            <div class="card border-primary">
                <div class="card-header">
                    <i class="fa fa-check-circle-o fa-lg text-primary"></i> Giới thiệu về khóa học
                </div>
                <div class="card-body">
                    <h4 class="text-dark">{{curClass.ClassName}}</h4>
                    <p> Thông tin về môn học</p>
                    <table class="table table-responsive-sm">
                        <tbody>
                            <tr>
                                <th>Mã lớp:</th>
                                <td>
                                    <span class="badge badge-success">{{curClass.ClassCode}}</span> -
                                    <span *ngIf="curClass.Status == 0" class="badge badge-pill badge-secondary">
                                        Chưa học </span>
                                    <span *ngIf="curClass.Status == 1" class="badge badge-pill badge-primary">
                                        Đang học </span>
                                    <span *ngIf="curClass.Status == 2" class="badge badge-pill badge-success">
                                        Đã học xong </span>
                                    <span *ngIf="curClass.Status == 4" class="badge badge-pill badge-danger"> Đã
                                        học xong, chờ kiểm tra! </span>
                                    <span *ngIf="curClass.Status == 8" class="badge badge-pill badge-warning">
                                        Đã học xong, đã có điểm!</span>
                                </td>
                                <th>Học kỳ:</th>
                                <td>
                                    {{curClass.Semester}}
                                </td>
                            </tr>
                            <tr>
                                <th>Tên lớp:</th>
                                <td>
                                    {{curClass.Description}}
                                </td>
                                <th>Năm học:</th>
                                <td>
                                    {{curClass.SchoolYear}}
                                </td>
                            </tr>
                            <tr>
                                <th>Bắt đầu:</th>
                                <td>
                                    {{formatDate2(curClass.StartDate)}}
                                </td>
                                <th>Kết thúc:</th>
                                <td>
                                    {{formatDate2(curClass.EndDate)}}
                                </td>
                            </tr>
                            <tr>
                                <th>Số tín chỉ:</th>
                                <td>
                                    {{curClass.TotalCredit}}
                                </td>
                                <th>Lớp trưởng:</th>
                                <td>
                                    Lê Bảo Ngân
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-md-5">
            <div class="card card-accent-primary">
                <div class="card-header">
                    <i class="fa fa-home fa-lg text-info"></i> Giới thiệu về cơ sở đào tạo
                    <div class="card-header-actions">
                        <span class="badge badge-pill badge-danger">{{curClass.SchoolCode}}</span>
                    </div>
                </div>
                <div class="card-body">
                    <img class="img-row image-right" src="{{curClass.LogoUrl}}" height="100" />
                    <div class="bd-example">
                        <dl class="row">
                            <dt class="col-sm-4">Khoa phụ trách</dt>
                            <dd class="col-sm-8">{{curClass.Department}}</dd>

                            <dt class="col-sm-4">Trường</dt>
                            <dd class="col-sm-8">
                                {{curClass.SchoolName}}
                            </dd>

                            <dt class="col-sm-4">Địa chỉ</dt>
                            <dd class="col-sm-8">{{curClass.SchoolAddress}}</dd>

                            <dt class="col-sm-4 text-truncate">Website</dt>
                            <dd class="col-sm-8"><a href="{{curClass.WebSite}}" target="_blank">{{curClass.WebSite}}</a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    <div *ngIf="studentList.totalRecords > 0" class="card card-accent-info">
        <div class="card-header">
            <i class="fa fa-users fa-lg text-success"></i> Danh sách sinh viên
        </div>
        <div class="card-body">
            <table class="table table-responsive-sm table-hover table-outline mb-0">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th class="text-center"><i class="icon-people"></i></th>
                        <th>Sinh viên</th>
                        <th>Thông tin</th>
                        <th>Ghi chú</th>
                        <th>Chi tiết</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of studentList.data; index as i;">
                        <td>{{getSTT(i)}}</td>
                        <td class="text-center">
                            <div class="avatar">
                                <img src="{{item.avatar}}" class="img-avatar" alt="{{item.email}}">
                                <span class="avatar-status badge-success"></span>
                            </div>
                        </td>
                        <td>
                            <div>{{item.lastName}} {{item.firstName}}</div>
                            <div class="small text-muted">
                                <span>MSSV: {{item.officialStudentId}}</span> | Ngày sinh:
                                {{formatDate2(item.birthday)}}
                            </div>
                        </td>
                        <td>
                            <div><i class="fa fa-envelope-o text-primary"></i> {{item.email}} </div>
                            <div><i class="fa fa-phone-square text-primary"></i> {{item.phone}}</div>
                        </td>
                        <td>
                            <div class="small text-muted">{{item.studentRole}}</div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-block btn-outline-info btn-sm" data-toggle="modal"
                                (click)="showDetail(item.studentId)">Info</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <ul *ngIf="studentList.totalPages > 1" class="pagination pull-right">
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0);" (click)="loadPrevStudentList()">Trước</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="javascript:void(0);">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0);" (click)="loadNextStudentList()">Sau</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div bsModal #studentInfoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fa fa-user-circle-o"></i>
                    {{studentDetail.lastName}} {{studentDetail.firstName}}
                </h4>
                <button type="button" class="close" (click)="studentInfoModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <img src="{{studentDetail.avatar}}" alt="John" class="img-avatar" />
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <p class="labelName">Thông tin cá nhân:</p>
                                        <p class="pName">
                                            Họ tên: <span class="text-primary"> {{studentDetail.lastName}} {{studentDetail.firstName}}</span> <br/>
                                            Ngày sinh: {{formatDate2(studentDetail.birthday)}} <br/>
                                            Giới tính: <i *ngIf="studentDetail.gender==false" class="fa fa-male text-success"></i> <i *ngIf="studentDetail.gender==true" class="fa fa-female text-danger"></i> 
                                        </p>
                                        <p class="labelName">Thông tin liên lạc </p>
                                        <p class="pName">
                                            <i class="fa fa-envelope-o"></i> {{studentDetail.email}} <br/>
                                            <i class="fa fa-phone-square"></i> {{studentDetail.phone}} <br/>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--/.row-->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <p class="labelName">Lớp </p>
                                        <p class="pName">
                                            Mã số sinh viên: {{studentDetail.officialStudentId}} <br/>
                                            Lớp: {{studentDetail.className}} <br/>
                                            {{studentDetail.courseName}} <br/>
                                            {{studentDetail.schoolCode}} - {{studentDetail.schoolName}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="studentInfoModal.hide()">Đóng</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->