<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
    [navbarBrandFull]="{src: 'assets/img/brand/logo01.png', height: 40, alt: 'HL Logo'}"
    [navbarBrandMinimized]="{src: 'assets/img/brand/logo.png', width: 35, height: 35, alt: 'HL Logo'}"
    [sidebarToggler]="'lg'">
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <h5 class="nav-link">Hệ thống hỗ trợ học tập - Hao Lee LaoShi</h5>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#">
                <i class="icon-bell"></i>
                <span class="badge badge-pill badge-danger">5</span>
            </a>
        </li>
        <li class="nav-item dropdown" dropdown placement="bottom right">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
                <img src="{{curUser.avatar}}" class="thumb-avatar img-avatar" alt="{{curUser.fullName}}" />
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <div class="dropdown-header text-center"><strong>{{curUser.fullName}}</strong></div>
                <a class="dropdown-item" href="javascript:void(0);" [routerLink]="['/user-profile']"><i
                        class="fa fa-user"></i> Tài khoản cá nhân</a>
                <a class="dropdown-item" href="javascript:void(0);" [routerLink]="['/user-change-pass']"><i
                        class="fa fa-wrench"></i> Đổi mật khẩu</a>
                <div class="divider"></div>
                <a class="dropdown-item" href="javascript:void(0);" (click)="SignOut()"><i class="fa fa-lock"></i>
                    Thoát</a>
            </div>
        </li>
    </ul>
</app-header>
<div class="app-body">
    <app-sidebar #appSidebar [fixed]="true" [display]="'lg'">
        <app-sidebar-nav [navItems]="navItems" [perfectScrollbar]></app-sidebar-nav>
    </app-sidebar>
    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <!-- breaking change 'cui-breadcrumb' -->
        <cui-breadcrumb></cui-breadcrumb>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>
<app-footer>

    <br />
    <span><a href="#"> <img src="assets/img/brand/logo04.png" height="25" alt="HL Logo" /> </a> &copy; 2019 Laoshi
        Application.</span>
    <span class="ml-auto">Powered by <a href="#">OccApp Team</a></span>
</app-footer>