<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container" style="margin-top: 100px;">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <form #f="ngForm" (ngSubmit)="f.form.valid && signIn()">
                                    <h2>{{ioz?.button?.signIn}}</h2>
                                    <p class="text-muted">Sign In to your account</p>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <input type="text" #userName="ngModel" [(ngModel)]="vm.userName"
                                            class="form-control" placeholder="Username" autocomplete="username" required
                                            [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input type="password" #password="ngModel" [(ngModel)]="vm.password"
                                            class="form-control" placeholder="Password" autocomplete="current-password"
                                            required [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <select #t class="form-control" (change)="onLangChange(t.value)">
                                                <option value="vi-vn" selected>Tiếng Việt</option>
                                                <option value="en-us">Tiếng Anh</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12" #captchaRef2></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit"
                                                class="btn btn-primary px-4">{{ioz?.button?.signIn}}</button>
                                        </div>
                                        <div class="col-6 text-right">
                                            <a routerLink="/forget-password" type="button" class="btn btn-link px-0">Quên mật khẩu?</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card text-white bgsignin py-5 d-md-down-none" style="width:44%">
                            <div class="card-body text-center">
                                <div class="">
                                    <img src="assets/img/brand/logo01a.png" height="55" />
                                    <h2>HaoLee - LaoShi </h2>
                                    <p>Xin chào các bạn học viên, Chào mừng tới trang thông tin hỗ trợ học tập! hãy sữ
                                        dụng tài khoản đăng nhập được cung cấp để đăng nhập!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>