<div class="my-form">
    <div class="form-create text-center">
        <h3>THÊM TÀI KHOẢN GIÁO VIÊN</h3>
    </div>
    <form class="content-form-create">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="firstName">Họ</label>
                <input type="firstName" class="form-control" type="text" placeholder="Họ" required maxlength="64">
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Tên</label>
                <input type="lastName" class="form-control" type="text" placeholder="Tên" required maxlength="64">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="schoolName">Trường</label>
                <input type="className" class="form-control" type="text" placeholder="Tên trường">
            </div>
            <div class="form-group col-md-6">
                <label for="id">Mã số giáo viên <span class="text-danger">*</span></label>
                <input type="id" class="form-control" type="text" placeholder="MSGV">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="birthday">Ngày sinh</label>
                <input class="form-control" id="date-input" type="date" name="date-input" placeholder="Ngày sinh">
            </div>
            <div class="form-group col-md-6">
                <label for="phoneNumber">Điện thoại liên lạc</label>
                <input type="phoneNumber" class="form-control" type="tel" placeholder="Số điện thoại">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Giới tính</label>
                <select id="select1" name="select1" class="form-control">
                    <option value="male">Nam</option>
                    <option value="female">Nữ</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="address">Địa chỉ</label>
                <input type="text" class="form-control" type="tel" placeholder="Địa chỉ">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="phoneNumber">Giới thiệu</label>
                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                    placeholder="Giới thiệu.."></textarea>
            </div>
        </div>
    </form>
    <div class="form-sign-up text-center">
        <h3>TẠO TÀI KHOẢN ĐĂNG NHẬP</h3>
    </div>
    <form class="content-form-sign-up">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="userName">Tài khoản đăng nhập <span class="text-danger">*</span></label>
                <input type="userName" class="form-control" type="text" placeholder="Nhập tài khoản " required
                    maxlength="64">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="password">Mật khẩu <span class="text-danger">*</span></label>
                <input type="password" class="form-control" type="text" placeholder="Nhập mật khẩu" required
                    maxlength="64">
            </div>
        </div>
    </form>
    <div class="form-row">
        <div class="form-group col-md-6"></div>
        <div class="button-submit col-md-6 text-center">
            <button type="submit" class="btn btn-success">Tạo tài khoản</button>
        </div>
    </div>
</div>